.catalog {
  padding: 80px 0;
}

.catalog__text {
  max-width: 69%;
  margin-top: 16px;
  font-size: 16px;
  line-height: 32px;
}

.catalog-item:first-child .accordion-name {
  border-top: 1px solid rgba(202, 202, 202, 1);
}

.accordion-name {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 33px 0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.catalog-item:first-child .ui-state-active {
  border-top: 1px solid rgba(121, 67, 164, 1);
}

.ui-accordion-content {
  border-bottom: 1px solid rgba(202, 202, 202, 1);
}

/* фокус */

/* .ui-state-focus {
  outline: none;
}

.ui-state-focus .catalog-item__title {
  color: white;
  background: #9D5CD0;
}

.ui-state-focus .ui-icon-triangle-1-e {
  background: rgba(209, 169, 240, 1);
} */

/*  */

/* .ui-state-focus .ui-state-active {
  border-top: 1px solid rgba(121, 67, 164, 1);
  border-bottom: 1px solid rgba(121, 67, 164, 1);
  color: rgba(121, 67, 164, 1);
} */

.ui-state-hover:hover,
.catalog-item:first-child .ui-state-hover:hover {
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
}

.ui-state-hover:hover .ui-icon-triangle-1-e {
  background: #D1A9F0;
}

.ui-state-focus {
  outline: none;
}

.ui-state-focus .catalog-item__title {
  color: white;
  background: #9D5CD0;
}

.ui-state-focus .ui-icon-triangle-1-e {
  background: #D1A9F0;
}

.ui-state-hover.ui-state-focus .catalog-item__title {
  color: #9D5CD0;
  background: transparent;
}

.ui-state-active,
.catalog-item:first-child .ui-state-active:hover {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
}

.ui-state-active .ui-icon-triangle-1-e {
  border-color: #9D5CD0;
}

.ui-state-hover.ui-state-focus.ui-state-active .catalog-item__title {
  color: #7943A4;
  background: none;
}


.ui-accordion-content-active {
  visibility: visible;
}

.catalog-block {
  display: flex;
  margin-top: 38px;
}

.catalog-data {
  display: none;
  width: 50%;

}

.catalog-data-active {
  display: block;
}


.catalog-list {
  width: 50%;
}

.catalog__photo {
  max-width: 95%;
}

.catalog-content__title {
  margin-top: 28px;
  font-size: 23px;
  line-height: 32.68px;
}

.catalog-content__data {
  display: inline-block;
  margin: 7px 0;
  font-size: 12px;
  line-height: 16.34px;
  opacity: 0.5;
}

.catalog-item__title {
  font-size: 24px;
}

.catalog-content__text {
  max-width: 749px;
  font-size: 16px;
  line-height: 32px;
}

.accordion-list {
  column-count: 3;
  padding: 25px 0;
}

.accordion-item {
  width: max-content;
  padding-top: 3px;
  padding-bottom: 2px;
}

.accordion-item__button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.accordion-item__button:hover,
.accordion-box__link:hover,
.catalog-unknown__button:hover {
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
}

.accordion-item__button:focus-visible,
.accordion-box__link:focus-visible,
.catalog-unknown__button:focus-visible {
  color: white;
  background-color: #9D5CD0;
  outline: none;
}

.accordion-item__button:active,
.accordion-box__link:active,
.catalog-unknown__button:active {
  color: #7943A4;
  border-bottom: 1px solid transparent;
}

.ui-icon-triangle-1-e::after,
.ui-icon-triangle-1-s::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  top: 43%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  border-width: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.ui-icon-triangle-1-e,
.ui-icon-triangle-1-s {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50px;
}

.ui-icon-triangle-1-s {
  border: 1px solid rgba(157, 92, 208, 1);
  background: rgba(209, 169, 240, 1);
}

.ui-icon-triangle-1-s::after {
  margin-top: 6px;
  border-width: 0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.accordion-block {
  display: flex;
  padding: 25px 0;
  align-items: center;
}

.catalog-item__background {
  width: 275px;
  height: 189px;
  padding: 12px;
  background: transparent;
  border: 1px solid rgba(183, 183, 183, 1);
}

.catalog-item__img {
  width: 251px;
  height: 165px;
  background: rgba(183, 183, 183, 1)
}

.accordion-box {
  max-width: 280px;
  margin-left: 24px;
}

.accordion-box__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

.accordion-box__text {
  margin: 5px 0;
  font-size: 16px;
  line-height: 21.8px;
}

.accordion-box__link {
  font-size: 16px;
  line-height: 21.8px;
  color: rgba(157, 92, 208, 1);
}

.catalog-unknown__title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
}

.catalog-unknown__text {
  font-size: 16px;
  line-height: 32px;
}

.catalog-unknown__button {
  margin-top: 15px;
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid transparent;
  color: #9D5CD0;
  background: transparent;
  cursor: pointer;
}

.catalog__photo-no-name {
  width: 95%;
}

@media (max-width: 1400px) {
  .catalog-data {
    width: 49%;
    margin-right: 15px;
  }

  .accordion-list {
    column-count: 2;
  }
}

@media (max-width: 1024px) {
  .catalog-block {
    justify-content: space-between;
  }

  .catalog-content__text {
    max-width: 98%;
  }

  .catalog__photo {
    max-width: 97%;
  }

  .catalog__text {
    max-width: 100%;
  }

  .catalog-list {
    width: 47.5%;
  }

  .accordion-name {
    padding: 32px 0;
  }

  .accordion-list {
    padding: 26px 0;
    column-count: 2;
    column-gap: 82px;
  }
}

@media (max-width: 920px) {

  .catalog-block {
    flex-wrap: wrap;
  }

  .catalog-data {
    width: 100%;
    margin-right: 0;
  }

  .catalog-list {
    width: 100%;
  }

  .catalog__photo {
    max-width: 100%;
    width: 100%;
  }

  .catalog-content__text {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .accordion-list {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding-bottom: 30px;
  }

  .catalog__title {
    margin-left: 4px;
  }

  .catalog__text {
    margin-left: 4px;
  }

  .catalog-block {
    flex-direction: column-reverse;
    margin-top: 21px;
  }

  .accordion-name {
    padding: 35px 0;
  }

  .catalog-data {
    margin-top: 38px;
    margin-left: 4px;
  }

  .catalog__photo {
    width: 99%;
  }
}

@media (max-width: 750px) {
  .accordion-list {
    column-count: 2;
  }

  .accordion-block.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    max-height: 300px;
  }

   /* [aria-labelledby="ui-id-5"] {
     max-height: 300px;
   } */
}

@media (max-width: 500px) {

  .accordion-list {
    column-count: 1;
  }

  .catalog-unknown__text {
    max-width: 98%;
  }

  .catalog-unknown__title {
    margin-top: 20px;
  }

  .catalog-unknown__text {
    max-width: 80%;
  }

  .catalog {
    padding: 50.5px 0 12px 0;
  }

  .catalog-block {
    margin-top: 12.5px;
  }

  .accordion-name {
    padding: 20px 0;
  }

  .accordion-list {
    padding: 19px 0;
  }

  .catalog__title {
    margin-left: 0;
  }

  .catalog__text {
    display: none;
  }

  .catalog-item__title {
    font-size: 18px;
    line-height: 32px;
  }

  .ui-icon-triangle-1-e,
  .ui-icon-triangle-1-s {
    width: 30px;
    height: 30px;
  }

  .ui-icon-triangle-1-e::after,
  .ui-icon-triangle-1-s::after {
    width: 7px;
    height: 7px;
  }

  .ui-icon-triangle-1-s::after {
    margin-top: 3px;
  }

  .accordion-block.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    max-height: 200px;
  }

  .accordion-box__title {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog-item__background {
    width: 90px;
    height: 130px;
    padding: 6px;
    border: 2px solid rgba(183, 183, 183, 1);
  }

  .catalog-item__img {
    width: 74px;
    height: 113px;
  }

  .catalog-data {
    margin-left: 0;
  }

  .catalog-data {
    margin-top: 52px;
  }

  .catalog__photo {
    width: 100%;
  }

  .catalog-content__title {
    margin-top: 17px;
  }

  .catalog-content__data {
    margin: 12px 0 7px 0;
  }

  .catalog-content__text {
    max-width: 99%;
  }
}