.footer {
  padding: 47.5px 0;
  background: black;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-list {
  display: flex;
}

.footer-list__item:not(:last-child) {
  margin-right: 20px;
}

.footer-list__link {
  color: #CACACA;
  outline: none;
  transition: color 0.2s ease;
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: white;
}

.footer-list__link:active {
  color: #9D5CD0;
}

@media (max-width:1024px) {
  .footer {
    padding: 40px 0 37px 0;
  }

  .footer-block {
    align-items: center;
  }

  .footer__link {
    padding-top: 0;
    padding-left: 0;
  }

  .footer-list__svg {
    width: 60px;
    height: 60px;
  }

  .footer-list__item:not(:last-child) {
    margin-right: 29.5px;
  }
}

@media (max-width:768px) {
  .footer__link {
    padding-left: 5px;
  }

  .footer-list__item:not(:last-child) {
    margin-right: 32px;
  }
}

@media (max-width:550px) {
  .footer-list__svg {
    width: 40px;
    height: 40px;
  }

  .footer-list__item:not(:last-child) {
    margin-right: 29.5px;
  }
}

@media (max-width:320px) {
  .footer {
    padding: 20px 0 17px 0;
  }

  .footer-block {
    flex-direction: column-reverse;
  }

  .footer-list {
    margin-bottom: 17px;
  }

  .footer-list__svg {
    width: 50px;
    height: 50px;
  }
}