.project {
  margin-bottom: 78px;
}

.project__text {
  max-width: 67%;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
}

.project__link {
  padding: 0 4px;
  color: #9D5CD0;
}

.project__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.project__link:focus-visible {
  padding: 0 4px;
  color: white;
  background: #9D5CD0;
  outline: none;
}

.project__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.project__partners {
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.project-swiper {
  position: relative;
  padding: 0 72px;
}

.swiper-4 {
  margin-top: 24px;
  overflow: hidden;
}

.swiper-slide.project-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 152px;
  outline: 1px solid #cacaca;
  outline-offset: -2px;
}

.project-swiper-slide picture img {
  max-width: 100%;
  filter: grayscale(1);
  opacity: 0.3;
}

.project-swiper-slide:hover picture img {
  filter: grayscale(0);
  opacity: 1;
}

.project-swiper-slide:focus-visible {
  outline-color: #9D5CD0;
}

.project-swiper-slide:active {
  outline-color: #9D5CD0;
}

.project-swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #ECECEC;
  border-radius: 50px;
  top: 56%;
  right: 0px;
}

.project-swiper-button-next::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-width: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.project-swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: #ECECEC;
  border-radius: 50px;
  top: 55.7%;
  left: 0px;

}

.project-swiper-button-prev::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 51.5%;
  left: 54.5%;
  margin-right: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  border-width: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.swiper-button-active:hover {
  background: #D1A9F0;
}

.swiper-button-active:focus-visible {
  border: 2px solid #9D5CD0;
  outline: none;
}

.swiper-button-active:active {
  border: 2px solid #9D5CD0;
  background: #D1A9F0;
  outline: none;
}

/* tooltip */

.project__tooltip svg {
  vertical-align: middle;
  border-radius: 100px;
  background: transparent;
}

.project__tooltip {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.project__tooltip:hover svg,
.project__tooltip:focus svg {
  background: #D1A9F0;
}

.project__tooltip:active svg {
  background: #9D5CD0;
}

.project__tooltip:active svg path:nth-child(2) {
  fill: white;
}

.tippy-box[data-theme~='tooltip'] {
  padding: 3px;
  border-radius: 0;
  text-align: center;
  background-color: #9D5CD0;
  color: white;
}

.tippy-box[data-theme~='tooltip'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: #9D5CD0;
}

.tippy-box[data-theme~='tooltip'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}

.tippy-box[data-theme~='tooltip'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: #9D5CD0;
}

.tippy-box[data-theme~='tooltip'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: #9D5CD0;
}

@media (max-width:1465px) {
  .swiper-slide.project-swiper-slide {
    text-align: center;
  }

  .swiper-slide.project-swiper-slide img {
    max-width: 88%;
  }

}

@media (max-width:1024px) {
  .project {
    padding-top: 40px;
  }

  .project__text {
    max-width: 100%;
  }

  .project__link {
    padding: 0;
  }

  .project__partners {
    margin-left: -1px;
    line-height: 31px;
  }

  .project-swiper {
    padding: 0 51px;
  }

  .swiper-slide.project-swiper-slide {
    min-height: 131px;
    text-align: center;
  }

  .project-swiper-slide picture img {
    max-width: 86%;
  }

  .project-swiper-button-prev {
    top: 53.6%;
    left: -1.5px;
  }

  .project-swiper-button-next {
    top: 53.6%;
    right: -1.5px;
  }

  .project-swiper-button-next::after {
    top: 49%;
    left: 46%;
  }
}

@media (max-width:768px) {
  .project-container {
    margin-left: 6.5%;
  }

  .project__title {
    font-size: 49px;
  }

  .project__text {
    max-width: 98%;
    margin-bottom: -4px;
  }

  .project-swiper-button-prev {
    top: 54.6%;
    left: -0.5px;
  }

  .project-swiper-button-next {
    top: 54.6%;
    right: 3.5px;
  }

  .swiper-4 {
    margin-top: 28px;
  }

  .swiper-slide.project-swiper-slide {
    min-height: 110px;
  }

  .swiper-slide.project-swiper-slide img {
    max-width: 83%;
  }
}

@media (max-width:320px) {
  .project {
    margin-bottom: 0;
  }

  .project-container {
    margin-left: 4.6%;
  }

  .project__title {
    font-size: 28px;
    line-height: 38px;
  }

  .project__text {
    max-width: 100%;
    margin-top: 13px;
    margin-bottom: 9px;
  }

  .project__partners {
    font-size: 17px;
    letter-spacing: 0.4px;
    line-height: 32px;
  }

  .swiper-4 {
    margin-top: 11px;
  }

  .swiper-slide.project-swiper-slide {
    min-height: 66px;
  }

  .swiper-slide.project-swiper-slide img {
    max-width: 57%;
  }

  .project-swiper-button-prev {
    top: 59%;
    left: 0;
  }

  .project-swiper-button-next {
    top: 59%;
    right: 0;
  }
}