html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font: inherit;
  outline: none
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  /* clip: rect(1px, 1px, 1px, 1px); */
  padding: 0 ;
  border: 0 ;
  height: 1px ;
  width: 1px;
  overflow: hidden;
}

.button {
  padding: 0;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
}

.container {
  margin: 0 8.3%;
  max-width: 1600px;
}


@media (min-width: 1921px) {
  .container {
    max-width: 1600px;
    margin: auto;
  }

  h2 {
    font-size: 50px;
    font-weight: 400;
  }
}

@media (max-width: 1920px) {
  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
  }
}

@media (max-width: 1560px) {
  .container {
    margin: 0 6%;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
  }

  .container {
    margin: 0 5%;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 6%;
  }

  h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
  }
}

@media (max-width: 425px) {
  .container {
    margin: 0 4.6%;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
  }
}

:root {
  --active-color: #7943A4;
  --hover-color: #C283F3;
}
