.developmets {
  margin-bottom: 80px;
  position: relative;
}

.developmets-box {
  display: flex;
  flex-direction: column;
  padding: 13px 50px 48px 50px;
}

.developmets__title {
  margin-top: 18px;
  margin-bottom: 16px;
}

.swiper3-block {
  position: relative;
}

.swiper-developmets {
  position: relative;
  min-height: 700px;
  outline: 1px solid #cacaca;
  outline-offset: -2px;
}

.developmets__image {
  width: 100%;
}

.developmets-block__subtitle {
  margin-top: -2px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #999999;
}

.developmets-block__title {
  margin-top: 12px;
  font-size: 23px;
  line-height: 32.9px;
}

.developmets-block__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 32px;
}

.developmets-text {
  margin-top: 4px;
}

.developmets-block__button {
  position: absolute;
  max-width: min-content;
  padding: 0px 8px 7px 8px;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  background: transparent;
  border: none;
  cursor: pointer;
  bottom: 33.5px;
  left: 41.5px;
  transition: all 0.2s ease;
}

.developmets-block__button::after {
  content: "";
  position: absolute;
  width: 84%;
  height: 1px;
  bottom: 9px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #9D5CD0;
}

.developmets-block__button:hover {
  color: #7943A4;
}

.developmets-block__button:hover::after {
  background: #7943A4;
}

.developmets-block__button:active {
  color: #333333;
}

.developmets-block__button:active::after {
  background: #333333;
}

.developmets-block__button:focus-visible {
  padding: 0px 8px 7px 8px;
  background: #9D5CD0;
  color: white;
}

.developmets-block__button:focus-visible::after {
  background: white;
}

.developmets-swiper-button-prev.swiper-button-disabled,
.developmets-swiper-button-next.swiper-button-disabled {
  display: none;
}

.developmets-swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50px;
  top: 49.7%;
  right: -25px;
  transition: all 0.2s ease;
}

.developmets-swiper-button-next::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-width: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.developmets-swiper-button-prev {
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50px;
  top: 49.7%;
  left: -25px;
  transition: all 0.2s ease;
}

.developmets-swiper-button-prev::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  border-width: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.swiper-pagination-dev {
  display: none;
}

.developmets-swiper-button-prev:hover,
.developmets-swiper-button-next:hover {
  background-color: #D1A9F0;
}

.developmets-swiper-button-prev:focus-visible,
.developmets-swiper-button-next:focus-visible {
  border: 2px solid #9D5CD0;
  outline: none;
}

.developmets-swiper-button-prev:active,
.developmets-swiper-button-next:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

@media (max-width:1300px) {
  .developmets-box {
    padding: 13px 30px 48px 30px;
  }
}

@media (max-width:1024px) {

  .swiper-pagination-dev {
    display: block;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  .swiper-developmets {
    min-height: 684px;
  }

  .developmets-box {
    padding: 14px 33px 0 33px;
  }

  .developmets-block__subtitle {
    text-align: right;
  }

  .developmets__title {
    margin-top: 0px;
  }

  .developmets-block__title {
    margin-top: 6px;
    font-size: 23px;
    line-height: 32px;
  }

  .developmets-block__text {
    margin-top: 7px;
  }

  .developmets-block__button {
    bottom: 42.5px;
    left: 25.5px;
  }

  .developmets-swiper-button-prev,
  .developmets-swiper-button-next {
    display: none;
  }


  .swiper-container.swiper3,
  .swiper3-block {
    position: inherit;
  }

  .swiper-pagination-dev.swiper-pagination-bullets {
    position: absolute;
    text-align: center;
    bottom: -42.5px;
    left: -0.5px;
  }

  .swiper-pagination-dev .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-dev .swiper-pagination-bullet:not(:nth-child(2)) {
    margin-right: 11px;
  }
}

@media (max-width:1013px) {
  .swiper-pagination-dev .swiper-pagination-bullet:not(:nth-child(2)) {
    margin-right: 4px;
  }

  .developmets-block__title {
    font-size: 20px;
    line-height: 27px;
  }

  .developmets-block__text {
    line-height: 29px;
  }
}

@media (max-width:768px) {
  .developmets__title {
    letter-spacing: 1.2px
  }

  .developmets-box {
    padding-top: 11px;
    padding-left: 41px;
    padding-right: 18px;
  }

  .developmets-block__title {
    margin-top: 3px;
    font-size: 23px;
    line-height: 33px;
  }

  .developmets-block__title--change {
    max-width: 86%;
  }

  .developmets-block__text {
    max-width: 91%;
    line-height: 32px;
  }

  .developmets-block__button {
    left: 31.5px;
  }

  .swiper-container-horizontal>.swiper-pagination-dev.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }
}

@media (max-width:700px) {
  .developmets-block__title {
    font-size: 20px;
    line-height: 29px;
  }

  .developmets-box {
    padding-left: 21px;
    padding-right: 13px;
  }

  .developmets-block__text {
    max-width: 100%;
  }
}

@media (max-width:320px) {

  .developmets {
    margin-bottom: 40px;
  }

  .developmets__title {
    margin-bottom: 10px;
    letter-spacing: 0;
  }

  .developmets-box {
    padding-top: 17px;
    padding-left: 24px;
    padding-right: 19px;
  }

  .developmets-block__subtitle {
    font-size: 12px;
    letter-spacing: 0;
  }

  .developmets-block__title {
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: -0.7px;
    line-height: 32px;
  }

  .developmets-block__text {
    max-width: 94%
  }

  .developmets-block__button {
    left: 21.5px;
  }

  .swiper-pagination-dev.swiper-pagination-bullets {
    bottom: -33.5px
  }

  .swiper-container-horizontal>.swiper-pagination-dev.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;
  }
}